<!DOCTYPE html>
<html lang="en">
<head>    
    <title>Hello World!!</title>
</head>
<body>
    <header>
        <h1 class=Heading-1>Welcome to my webpage!</h1>
        <h2 class=Heading-2>Contents</h2>
        </header>
    
    <main>
        <section>
            <h3 class=Heading-3 >Subject</h3>
                <p>This is my very first webpage! - How cool is this!</p>

                <a href="http:/google.com">Take me somewhere magical!</a>
        
                <img src="https://picsum.photos/500/500" alt="Random Picture">

        </section>
     </main>   
</body>
</html>